<footer>
    <div class="container">
        <hr>
        <div>
            <div class="row">
                <div class="four columns">
                    <p>{{site.name}} &copy; 2023 </p>
                </div>
                <div class="eight columns right">
                    <ul class="no-bullet">
                        <li>
                            <a href="mailto:hello@rodrigoteixeira.co"><i class="fa fa-envelope-square"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/drigoteixeira/"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://savee.it/rodrigoteixeira/"><i class="fa fa-plus"></i></a></li>
                        <li><a href="https://drigoteixeira.medium.com/"><i class="fa fa-medium"></i></a></li>
                        <li><a href="https://calendly.com/drigosteixeira/60min"><i class="fa fa-calendar"></i></a></li>
                    </ul>
                </div>
            </div>        
        </div>
    </div>
</footer>

<a href="#" id="back-to-top" title="Back to top">&uarr;</a>


<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>

<script src="/js/scripts.js"></script>


