<footer>
	<div class="container">
		<div class="row">
			<div class="six columns">
				<p>© 2017 Rodrigo Teixeira. All rights reserved.</p>
			</div>
			<div class="six columns right">
				<ul class="social">
	                <li><a href="mailto:drigoteixeira@gmail.com">E-mail me</a></li>
	                <li><a href="http://twitter.com/drigo">Twitter</a></li>
	                <li><a href="https://www.behance.net/drigoteixeira">Behance</i></a></li>
	                <li><a href="http://br.linkedin.com/in/drigoteixeira/">LinkedIn</a></li>
	                <li><a href="https://github.com/drigoteixeira">Github</a></li>
	            </ul>
			</div>
		</div>
	</div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>