<footer>
	<div class="container">
		<div class="twelve columns">
			<p>© 2015 Rodrigo Teixeira. All rights reserved. <a href="mailto:rodrigo@colettiva.com.br">rodrigo@colettiva.com.br</a></p>
		</div>
		<div class="twelve columns">
			<ul class="social-networks">
				<li><a href="https://www.facebook.com/drigoteixeira">Facebook</a> / </li>
				<li><a href="http://twitter.com/drigoteixeira">Twitter</a> / </li>
				<li><a href="https://www.somewhere.com/drigoteixeira">Somewhere</a> / </li>
				<li><a href="http://br.linkedin.com/in/drigoteixeira/">LinkedIn</a> / </li>
				<li><a href="http://feeds.feedburner.com/rodrigoteixeira">RSS</a></li>
			</ul>
		</div>
	</div>
	
</footer>


