<header>
    <div class="container">
        <div class="three columns">
            <h1 class="logo"><a href="/">@drigoteixeira</a></h1>
        </div>
        <div class="nine columns">
            <nav class="navbar right">
                <ul>
                    <li class="item01"><a href="/">Selected Works</a></li>
                    <li class="item02"><a href="/about/">About</a></li>
                    <li class="item03"><a href="/blog/">Blog</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

