<div class="page-loader">
	<div class="loader">Loading...</div>
</div>

<header class="main-header">
    <div class="logo">
        <a href="/"><img src="{{ site.url }}/img/logo.svg" alt="Rodrigo" /></a>
    </div>
    <div class="button_container" id="toggle">
       <span class="top"></span>
       <span class="middle"></span>
       <span class="bottom"></span> 
       
       <div class="overlay" id="overlay">
          <nav class="overlay-menu">
            <ul>
              <li><a href="/about/">about me</a></li>
              <li><a href="/work/riachuelo/">riachuelo app</a></li>
              <li><a href="/work/atlantic/">atlantic</a></li>
              <li><a href="/work/consa/">consa</a></li>
              <li><a href="/work/educacao/">educaçãosp</a></li>
              <li><a href="/work/preferencia/">preferência à vida</a></li>
            </ul>
          </nav>
        </div>        
    </div>
</header>