<div class="page-loader">
	<div class="loader">Loading...</div>
</div>

<header class="main-header">
   <span class="bg">&nbsp;</span>
   <div class="container">
        <div class="six columns">
            <div class="logo">
                <a href="/">Rodrigo Teixeira</a> <span class="description"> <span class="dash"> — </span> Product and Service Designer</span>
            </div>
        </div>
        <div class="six columns">
            <nav class="menu">
                <ul>
                    <li><a href="/projects/">projects</a></li>
                    <li><a href="/about/">about me</a></li>
                    <li><a href="/blog/">blog</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>