    <!-- METAS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width">

    <meta name="author" content="Rodrigo Teixeira">
    <meta name="description" content="Rodrigo Teixeira is product designer based in Sao Paulo, Brazil.">

    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    
    <!-- OPEN GRAPH -->
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ page.title }} - {{ site.name }}">
    <meta property="og:description" content="{{ page.subtitle }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="article:publisher" content="http://www.facebook.com/drigoteixeira">
    <meta property="fb:app_id" content="546203126061696" />
    {% if page.header-img %}<meta property="og:image" content="{{ site.url }}/{{ page.header-img }}" />{% endif %}
    
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@drigo"/>
    <meta name="twitter:creator" content="@drigo"/>  
    <meta name="twitter:title" content="{{ page.title }} - {{ site.name }}"/>  
    <meta name="twitter:description" content="{{ page.subtitle }}"/>
    {% if page.header-img %}<meta name="twitter:image" content="{{ site.url }}/{{ page.header-img }}"/>{% endif %}
    
    <link rel="icon" href="{{ site.baseurl }}/favicon.png">

    <!-- GOOGLE VERIFICATION -->
    <meta name="google-site-verification" content="yDJgjNuyB1LON1HIq6aXW3Pv2pieL8002dwz9aBiIV8" />
