---
layout: blog
title: Blog
header-img: 'img/cover.jpg'
subtitle: 'Rodrigo Teixeira is a product and service designer based in São Paulo, Brazil'
---

<div class="container">
    {% for post in paginator.posts %}
    <div class="row posts">
        <div class="item">
            <div class="three columns">
                <div class="post-meta">
                    <span class="post-date">
                        <!-- Whitespace added for readability -->
                        {% assign m = post.date | date: "%-m" %}
                        {{ post.date | date: "%Y," }}
                        {% case m %}
                          {% when '1' %}January
                          {% when '2' %}February
                          {% when '3' %}March
                          {% when '4' %}April
                          {% when '5' %}May
                          {% when '6' %}June
                          {% when '7' %}July
                          {% when '8' %}August
                          {% when '9' %}September
                          {% when '10' %}October
                          {% when '11' %}November
                          {% when '12' %}December
                        {% endcase %}
                        {{ post.date | date: "%-d" }}
                    </span>
                </div>
            </div>
            <div class="nine columns">
                <h3 class="post-title"><a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a></h3>
                <div class="post-content">
                    <p class="excerpt">{{ post.excerpt}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="container">
    <!-- PAGINATION -->
    <div class="row">
        <div class="eight columns offset-by-three">
            <!-- Pagination links -->
            <nav class="pagination">
                <ul>
                    <li class="antigos">
                        {% if paginator.next_page %}
                            <a href="{{ paginator.next_page_path }}" class="antigos">&#8592; Older</a>
                        {% else %}
                            <span class="current">&#8592; Older</span>
                        {% endif %}
                    </li>
                    <li class="page-number">
                        Page: {{ paginator.page }} of {{ paginator.total_pages }}
                    </li>
                    <li class="novos">
                        {% if paginator.previous_page %}
                            <a href="{{ paginator.previous_page_path }}">Newer &#8594;</a>
                        {% else %}
                            <span class="current">Newer &#8594;</span>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>