---
layout: blog
---

{% for post in paginator.posts %}
<div class="row posts">
	<article class="item">
		<div class="post-meta">
			<span class="post-date">{{ post.date | date: "%B %e, %Y" }}</span>
		</div>
		<h2 class="post-title"><a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a></h2>
		<div class="post-content excerpt">
			<p>{{ post.excerpt}}</p>
			<p><a href="{{ post.url }}" class="read-more">&#8594; Continue lendo</a><p>
		</div>
	</article>
</div>
{% endfor %}


<!-- PAGINATION -->
<div class="row">
	<div class="twelve columns">
		<!-- Pagination links -->
		<nav class="pagination">
			<ul>
				<li class="antigos">
					{% if paginator.next_page %}
						<a href="{{ paginator.next_page_path }}" class="antigos">&#8592; Mais Antigos</a>
					{% else %}
						<span class="current">&#8592; Mais Antigos</span>
					{% endif %}
				</li>
				<li class="page-number">
					Página: {{ paginator.page }} de {{ paginator.total_pages }}
				</li>
				<li class="novos">
					{% if paginator.previous_page %}
						<a href="{{ paginator.previous_page_path }}">Mais Novos &#8594;</a>
					{% else %}
						<span class="current">Mais Novos &#8594;</span>
					{% endif %}
				</li>
			</ul>
		</nav>
	</div>
</div>