/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; 
}
body {
	padding-top: 60px;
	background: #fff;
	font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.5;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #444;
	text-rendering: optimizelegibility;
}

.right {
  text-align: right;
}
