/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html, body { height:100%; }

html { font-size: 62.5%;  }

body {
	background: $white;
	font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.5;
	font-family: 'PT Serif', serif;
	color: $base-gray;
	text-rendering: optimizelegibility;
}

.right { text-align: right; }
