/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html { font-size: 62.5%;  }

body {
	padding-top: 60px;
	background: $white;
	font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.5;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: $base-gray;
	text-rendering: optimizelegibility;
}

.right { text-align: right; }
