/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    height: 56px;
    padding: 0 20px;
    color: $white;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    line-height: 56px;
    text-decoration: none;
    white-space: nowrap;
    background-color: $red;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: $white;
    border-color: 1px solid $base-gray;
    outline: 0;
    background-color: $base-gray;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    display: inline-block;
    height: 56px;
    padding: 0 20px;
    color: $white;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    line-height: 56px;
    text-decoration: none;
    white-space: nowrap;
    background-color: $red;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: $white;
    background-color: $gray-3;
    border-color: $gray-3;
}
