figure {
    margin: 0;
}


.foto {
    width: 146px;
    margin: 0 0 60px 0;
}

.foto img {
    border-radius: 100%;
    width: 146px;
}


.thumbnail{
  width:300px;
  position:relative;
}

.thumbnail img{
  max-width:100%;
}

.thumbnail h1{
  position:absolute;
  top:50%;
  left:0;
  color:lightgrey;
  width:100%;
  text-align:center;
  transform:translateY(-50%); /* doesn't work in IE9 and older I'm affraid */
  margin:0;
}

.pin {
    color: $main;
}
