figure {
    margin: 0;
}


.foto {
    width: 146px;
    margin: 0 0 60px 0;
}

.foto img {
    border-radius: 100%;
    width: 146px;
}


.thumbnail{
  width:300px;
  position:relative;
}

.thumbnail img{
  max-width:100%;
}

.thumbnail h1{
  font-family: 'Inter', sans-serif;    
  position:absolute;
  top:50%;
  left:0;
  color:lightgrey;
  width:100%;
  text-align:center;
  transform:translateY(-50%); /* doesn't work in IE9 and older I'm affraid */
  margin:0;
}

.pin {
    color: $main;
}

.thumb {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: $base-gray;
}

.thumb:hover .overlay {
  opacity: 1;
}

.text {
    color: $white;
    font-size: 2em;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Inter', sans-serif; 
}
