.page {
    padding-top: 200px;
}

.container {
    margin-bottom: 20px;
}

.row {
    margin-bottom: 40px;
}

.row .row {
    margin-bottom: 40px;
}

.jumbo {
    margin-bottom: 120px;
}



.social {
    width: 100%;
    position: relative;
    
    ul {
        list-style: none;
        margin: 0 auto;
        
        li {
          display: inline-block;
          margin: 0 20px 0 0;
          font-size: 1.1em;
          letter-spacing: -1px;
          font-weight: 700;
          text-align: left;
        }
    }
}

.contact {
    background: #f1d18a;
    padding: 40px;
}

.cover-light {
    background-color: $base-gray;
}




/* ==========================================================================
HEADER
========================================================================== */


@media (max-width: 550px) {
    .hero-cover {
        padding: 50px 0;
    }

    .heading {
        font-size: 40px;
    }

    .circles,
    .circle-container,
    .circle {
        display: none;
    }
}


/* Larger than mobile */

@media (max-width: 400px) {
    .social-networks li {
        text-align: left;
    }

    .highlight {
        font-size: 40px;
        line-height: 50px;
        letter-spacing: -2px;
    }

    footer p {
        text-align: center;
    }
}


    /* ==========================================================================
LAYOUT
========================================================================== */

    h2 .chip {
        background: $primary;
        font-size: .3em;
        color: $white;
        border-radius: 20px;
        padding: 5px 10px;
        letter-spacing: 0;
        line-height: 12px;
    }

    .project figure {
        margin-bottom: 10px;
    }



    .project p {
        font-size: 1.2em;
    }

    .post-date {
        display: block;
        color: $primary;
        font-weight: 700;
    }

    .item .post-date {
        display: block;
        color: $primary;
        line-height: 24px;
        text-align: right;
    }

    .item h2 {
        font-size: 2em;
        line-height: 1.4em;
    }

    .latest-post .item .post-date {
        text-align: left;
    }

    @media (max-width: 400px) {
        .item .post-date {
            text-align: left;
        }
    }

    @media (max-width: 550px) {
        .item .post-date {
            text-align: left;
        }
    }

    .post-detail .post-title {
        font-size: 40px;
        line-height: 38px;
    }

    .read-more {
        font-size: 14px;
    }

    .project-detail h4 {
        line-height: 28px;
        font-size: 14px;
        letter-spacing: -1px;
        margin-bottom: 20px;
    }

    .project-detail a {
        color: #333;
    }

    .detail p {
        font-size: 1.2em;
        line-height: 32px;
    }

    @media (max-width: 400px) {
        .nav-up {
            top: -80px;
        }

        h2 {
            font-size: 28px;
        }

        .heading {
            font-size: 70px;
            letter-spacing: -1px;
        }

        ul li,
        ol li {
            font-size: 1.2em;
            line-height: 32px;
        }

        .project-detail h2 {
            line-height: 38px;
            font-size: 32px;
        }

        .post-detail .post-title {
            font-size: 40px;
            line-height: 50px;
        }

        .content .post-title {
            line-height: 36px;
        }
    }

    @media (min-width: 550px) {
        .project-detail h4 {
            line-height: 28px;
        }

        .project-detail h2 {
            font-size: 40px;
            margin-bottom: 24px;
        }

        .post-detail .post-title {
            font-size: 40px;
            line-height: 50px;
        }
    }

    .comments {
        margin-top: 40px;
    }

/* ==========================================================================
PAGINATION
========================================================================== */

    .pagination {
        width: 100%;
        padding: 20px 0;
        margin-left: 0;
    }

    .pagination ul {
        text-align: left;
        margin-left: 0;
        padding-left: 0;
        height: 30px;
    }

    .pagination ul li {
        display: inline;
        line-height: 32px;
        margin-right: 40px;
        font-size: 1em;
        margin-left: 0;
    }

@media (max-width: 550px) {
    .post-pagination {
        text-align: center;
    }
}


/* ==========================================================================
IMAGEM RESPONSIVA
========================================================================== */

    img.scale,
    img.responsive,
    img[src*="#responsive"] {
        max-width: 100%;
        height: auto;
        clear: both;
        margin: 0 auto;
        display: block;
    }

    figcaption {
        margin-top: 10px;
        display: block;
    }

    /* ==========================================================================
VIDEO RESPONSIVO
========================================================================== */

    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
    }

    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .project-detail {
        margin-bottom: 40px;
        overflow: hidden;
    }

    .project-detail:hover img {
        opacity: 0.8;
    }


    /* ==========================================================================
HIGHLIGHT
========================================================================== */

    figure.highlight {
        margin: 0;
        padding: 0;
    }



    /* Back to Top */

    #back-to-top {
        position: fixed;
        bottom: 20px;
        right: 3%;
        z-index: 9999;
        width: 32px;
        height: 32px;
        text-align: center;
        line-height: 30px;
        background: $base-gray;
        color: $white;
        cursor: pointer;
        border: 0;
        border-radius: 5px;
        text-decoration: none;
        transition: opacity 0.2s ease-out;
        opacity: 0;
    }

    #back-to-top.show {
        opacity: 1;
    }




    .container .button {
        margin-bottom: 40px;
    }

    .next-project {
        padding: 40px 0;
        text-align: center;
    }

    .thumbnail img {
        width: 100%;
        height: auto;
    }




@media (max-width: 576px) {
    
    .container {
        margin-bottom: 10px;
    }
    
    .row {
        margin-bottom: 10px;
    }
    
    .jumbo {
        margin-top: 80px;
        margin-bottom: 20px;
    }
    
    .columns {
        margin-bottom: 10px;
    }
    
    .item {
        margin-bottom: 0;
    }

    
  }


@media only screen and (max-device-width: 1366px) {
  .banner {
    background-attachment: scroll;
  }
}
