/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #f55567; 
  text-decoration: none;
  font-weight: 700;
  }
a:hover {
  color: #f55567;
  text-decoration: underline;
}

.post-title a {
  text-decoration: none;
  color: #333;
}

blockquote {
  font-size: 22px;
}

blockquote p {
  line-height: 40px;
  letter-spacing: -1px;
  color: #444;
  margin-left: 0;
  padding-left: 0;
}

blockquote cite {
  font-size: 18px;
}