/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: $white;
  text-decoration: underline;
  transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
}

a:hover {
  color: $white;
  text-decoration: none;
}

a:visited { color: $white; }

