/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1f69c1; 
  text-decoration: none;
  transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
  padding-bottom: 2px;
}

a:hover {
  color: #4A90E2;
  text-decoration: underline;
}

.post-title a {
  text-decoration: none;
  color: $base-gray;
}

