/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul {
    list-style: circle inside;
}

ol {
    list-style: decimal inside;
}

ol,
ul {
    padding-left: 0;
    margin-top: 0;
}


ul ul,
ul ol,
ol ol,
ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
}

li {
    margin-bottom: 1rem;
}

ul li,
ol li {
    line-height: 32px;
    font-size: 1.8em;
    list-style-position: outside;
    margin-bottom: 20px;
}

ul li {
    list-style-type: disc;
}

dl {
    margin: 0;
    font-size: 1.4em;
    color: $base-gray;
}

dt {
    display: block;
    font-weight: bold;
    color: $base-gray;
}

dd {
    margin-left: 0;
    margin-bottom: 40px;
    color: $gray-8;
    font-weight: bold;
}

@media (max-width: 550px) {
    dt,
    dd,
    li {
        font-size: 1.4em;
    }
}
