
#site-header {
	position: fixed;
	height: 110px;
	top: 0;
	width: 100%;
	z-index: 100;
	transition: all .3s ease;
    background: $white;
    border-bottom: 1px solid $gray-E;
}
#site-header.hide {
	top: -110px;
}

.foto-logo {
    margin-top: 20px;
}


.foto-logo img {
    width: 54px;
    border-radius: 100%;
}

.logo h1 {
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: normal;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    text-transform: uppercase;
}

.logo a {
    font-weight: 700;
    text-decoration: none;
    color: $main;
}

.logo .dash {
    margin: 0 6px;
}

.logo .description {
    color: $gray-5;
} 


.menu {
    text-align: left;
    margin: 0;
}

.menu li {
    list-style: none;
    line-height: 100px;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 700;
    font-family: 'Inter', sans-serif; 
}

.menu li a {
    text-decoration: none;
    font-weight: 700;
}



@media (max-width: 576px) {
    
    
    #site-header {
        height: 80px;
    }
    
    #site-header.hide {
        top: -80px;
    }
    
    .logo {
        text-align: left;
    }
    
    #site-header .columns {
        margin-bottom: 0;
    }
    
    .main-menu {
        display: inline-block;
        float: none;
    }
    
    .description {
        display: none;
        text-align: center;
    }
    .menu {
        text-align: center;
        margin: -20px 0 0 0;
    }
    
    .menu li {
        line-height: 100px;
    }
}


