
#site-header {
	position: fixed;
	height: 120px;
	top: 0;
	width: 100%;
	z-index: 100;
	transition: all .3s ease;
    background: $white;
    border-bottom: 1px solid $gray-E;
}
#site-header.hide {
	top: -121px;
}

.logo h1 {
    margin: 48px 0 0 0;
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: -1px;
    font-family: neue-haas-grotesk-text, sans-serif;
    box-sizing: border-box;
}

.logo a {
    font-weight: 700;
    text-decoration: none;
    color: $main;
}

.logo .dash {
    margin: 0 6px;
}

.logo .description {
    color: $gray-5;
} 


.menu {
    margin: 40px 0;
    text-align: right;
    
}

.menu li {
    list-style: none;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 700;
}

.menu li a {
    text-decoration: none;
    font-weight: 700;
}



@media (max-width: 576px) {
    
    
    #site-header {
        height: 150px;
    }
    
    #site-header.hide {
        top: -151px;
    }
    
    .logo {
        text-align: center;
    }
    
    #site-header .columns {
        margin-bottom: 0;
    }
    
    .main-menu {
        display: inline-block;
        float: none;
    }
    
    .description {
        display: none;
        text-align: center;
    }
    .menu {
        text-align: center;
        margin: 40px 0 0 0;
    }
}


