/* Menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */


#site-header {
	position: fixed;
	height: 150px;
	top: 0;
	width: 100%;
	z-index: 100;
	transition: all .3s ease;
}
#site-header.hide {
	top: -150px;
}

.foto-logo {
    margin-top: 20px;
}


.foto-logo img {
    width: 54px;
    border-radius: 100%;
}

.logo h1 {
    font-size: 1.2em;
    line-height: 150px;
    font-weight: 700;
    letter-spacing: normal;
    font-family: 'Playfair Display', Georgia, serif;
    box-sizing: border-box;
    color: #fcfbf8;
}

.logo a {
    font-weight: 700;
    text-decoration: none;
    color: #fcfbf8;
}

.logo .dash {
    margin: 0 6px;
}



.menu {
    text-align: right;
    margin: 0;
}

.menu li {
    list-style: none;
    line-height: 150px;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 300;
    color: #958c83;
}

.menu li a {
    text-decoration: none;
    font-weight: 300;
    color: #958c83;
}



@media (max-width: 576px) {
    
    
    #site-header {
        height: 120px;
    }
    
    #site-header.hide {
        top: -120px;
    }
    
    .logo {
        text-align: left;
    }
    
    #site-header .columns {
        margin-bottom: 0;
    }
    
    .main-menu {
        display: none;
        float: none;

    }
    
    .description {
        display: none;
        text-align: center;
    }
    .menu {
        text-align: center;
        margin: -20px 0 0 0;
        display: none;
    }
    
    .menu li {
        line-height: 40px;
    }
}
