/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 40px;
    letter-spacing: -1px;
    color: $black;
    margin-top: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 4em;
    line-height: 1.1;
    letter-spacing: -3px;
    color: $base-gray;
}

h1 span {
    color: $red;
}

.subtitle {
    margin-top: -70px;
    margin-bottom: 80px;
    font-size: 2em;
    color: $gray-5;
}

.subheader {
    color: $black;
    font-size: 1.4em;
}

.highlight {
    font-weight: 700;
    font-size: 70px;
    line-height: 1.1em;
    color: $gray-2;
    letter-spacing: -2px;
    margin-bottom: 60px;
    word-wrap: break-word;
}


.selected-work .highlight {
    margin-bottom: 5px;
}


h2 {
    font-size: 2.6em;
    line-height: 1.2;
}

h3 {
    font-size: 2.6em;
    line-height: 1.3;
}

h4 {
    font-size: 1.8em;
    line-height: 1.35;
}

h5 {
    font-size: 1.4em;
    line-height: 1.5;
}

h6 {
    font-size: 1.2em;
    line-height: 1.6;
}

p {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.4em;
}

.post-home {
    font-size: 18px;
    border-bottom: 1px solid $gray-C;
    line-height: 30px;
    padding-bottom: 10px;
}

.post-title a {
    font-weight: 700;
}

.post-home span {
    color: $gray-C;
    font-weight: normal;
    font-style: italic;
}


.subhead {
    font-size: 24px;
    color: $gray-5;
}

.tagline {
    margin-bottom: 40px;
    height: 300px;
    display: table-cell;
    vertical-align: middle;
}

.tagline h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -2px;
}

.tagline h1 span {
    color: $gray-9;
}

.tagline h1 .title {
    display: block;
    color: $gray-2;
    font-size: 70px;
}

.tagline p {
    color: $gray-9;
    font-size: 20px;
}

.project-title {
    font-size: 60px;
    line-height: 60px;
}

.social {
    margin-left: 0;
    padding-left: 0;
}

.social li {
    display: inline;
    list-style: none;
    font-size: 1.2em;
    padding: 0;
    color: $gray-9;
    margin: 0 20px 0 0;
}

blockquote {
    font-style: normal;
    border-left: 5px solid $gray-E;
    margin-left: 0;
    padding-left: 20px;
}

blockquote p {
    font-size: 1.2em;
    line-height: 38px;
    margin-left: 0;
    padding-left: 0;
}

blockquote cite {
    font-size: 18px;
}

@media (max-width: 550px) {
    .main-header {
        padding-top: 10px;
        position: normal;
        width: 100%;
        z-index: 9999;
    }

    .tagline {
        padding: 10px 5px;
    }

    .tagline h1 .title {
        font-size: 50px;
        margin-bottom: 20px;
        margin-top: 0;
        line-height: 46px;
        letter-spacing: -1px;
    }

    .right {
        text-align: center;
    }

    .right li {
        margin-left: 0px;
        margin-right: 10px;
    }

    footer p {
        text-align: center;
    }

    .project-title {
        font-size: 38px;
        line-height: 38px;
    }

    .subhead {
        font-size: 20px;
        color: $gray-5;
    }

    .hero-cover .heading {
        padding: 50px 0 0;
        font-size: 38px;
        text-align: left;
    }

    .highlight {
        font-size: 36px;
    }

}


/* Larger than phablet */


@media (max-width: 550px) {
    h1 {
        font-size: 4.4rem;   
        letter-spacing: -2px;
    }

    h2 {
        font-size: 3.6rem;
    }

    h3 {
        font-size: 3.6rem;
    }

    h4 {
        font-size: 3.0rem;
    }

    h5 {
        font-size: 2.4rem;
    }

    h6 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.2em;
        font-weight: 400;
    }

}