/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=DM+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=JetBrains+Mono:wght@400;500&display=swap');


h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 40px;
    letter-spacing: -1px;
    color: #fcfbf8;
    margin-top: 0;
    font-family: 'Playfair Display', Georgia, serif;
    font-weight: 700;
}

h1 {
    font-size: 4em;
    line-height: 1.1;
    letter-spacing: -1px;
}


h1 span {
    display: block;
}
    

.title {
    margin-bottom: 24px;
    font-size: 1em;
    font-family: 'DM Sans', system-ui, sans-serif;
    font-weight: 400;
    color: #958c83;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.subtitle {
    margin-top: -20px;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.4em;
    color: #958c83;
}

#banner h1 {
    color: $white;
}

h2 {
    font-size: 2.6em;
    line-height: 1.2em;
    letter-spacing: -2px;
}

h3 {
    font-size: 1.8em;
    line-height: 1.3;
}

h4 {
    font-size: 1.6em;
    line-height: 1.35;
}

h5 {
    font-size: 1.4em;
    line-height: 1.5;
}

h6 {
    font-size: 1.2em;
    line-height: 1.6;
}

p {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.8em;
    color: #958c83;
}


.excerpt {
    font-size: 1.2em;
    color: $gray-5;
    font-weight: 400;
}

.main-call p {
    font-size: 1.2em;
    line-height: 1.8em;
}

figcaption {
    font-size: .9em;
    color: $gray-8;
    text-align: center;
}


blockquote {
    font-style: italic;
    font-size: 2em;
    color: $gray-5;
}

blockquote:before {
    display: block;
    content: "";
    background: var(--primary-color);
    height: var(--base-multiplier);
    width: calc(100% / 3);
    margin-bottom: calc(var(--base-multiplier)*3);
}

blockquote cite {
    font-size: 18px;
}

.number {
    font-size: 3em;
    font-weight: 400;
    letter-spacing: -2px;
    display: block;
    margin-bottom: 20px;
}

.results p {
    font-size: 1.2em;
}

.post-title {
    margin-bottom: 2px;
}


@media (max-width: 550px) {
    

    .right {
        text-align: center;
    }

    .right li {
        margin-left: 0px;
        margin-right: 10px;
    }


    .subhead {
        font-size: 20px;
        color: $gray-5;
    }

}


/* Larger than phablet */


@media (max-width: 550px) {
    h1 {
        font-size: 2.8em;   
        letter-spacing: -2px;
    }

    h2 {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.4em;
    }

    h4 {
        font-size: 1.8em;
    }

    h5 {
        font-size: 1.4em;
    }

    h6 {
        font-size: 1.2em;
    }

    p {
        font-size: 1.2em;
        font-weight: 400;
    }
    
    .social li {
        font-size: 1.2em;
    }
    
    
    .blog .excerpt {
        font-size: 1.2em;
    }
    
    .main-call p {
    font-size: 1.2em;
    line-height: 1.4em;
}
    
}