/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
    width: 100%;
    box-sizing: border-box; 
}
.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box; 
}
.u-pull-right { float: right; }
.u-pull-left { float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid $gray-E; 
}

/* Circles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.circles,
.circle-container,
.circle{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
}
.circles {
  animation: z 10s linear infinite alternate;
}
.circle {
  border: 1px solid #f7f7f7;
  border-radius: 100%;
  opacity: 0;
}
@keyframes x1 {
  0% {
    transform: rotateX(0deg) translate(-150px,0);
    opacity: 0;
  }
  25% {
    transform: rotateX(360deg) translate(0,0);
    opacity: 0.5;
  }
  50% {
    transform: rotateX(0deg) translate(150px,0);
    opacity: 0;
  }
  75% {
    transform: rotateX(360deg) translate(0,0);
    opacity: 0.5;
  }
  100% {
    transform: rotateX(0deg) translate(-150px,0);
    opacity: 0;
  }
  
}
@keyframes x2 {
  0% {
    transform: rotateX(0deg) translate(150px,0);
    opacity: 0;
  }
  25% {
    transform: rotateX(360deg) translate(0,0);
    opacity: 0.5;
  }
  50% {
    transform: rotateX(0deg) translate(-150px,0);
    opacity: 0;
  }
  75% {
    transform: rotateX(360deg) translate(0,0);
    opacity: 0.5;
  }
  100% {
    transform: rotateX(0deg) translate(150px,0);
    opacity: 0;
  }
  
}
@keyframes y1 {
  0% {
    transform: rotateY(0deg) translate(0,-150px);
    opacity: 0;
  }
  25% {
    transform: rotateY(360deg) translate(0,0);
    opacity: 0.5;
  }
  50% {
    transform: rotateY(0deg) translate(0,150px);
    opacity: 0;
  }
  75% {
    transform: rotateY(360deg) translate(0,0);
    opacity: 0.5;
  }
  100% {
    transform: rotateY(0deg) translate(0,-150px);
    opacity: 0;
  }
}
@keyframes y2 {
  0% {
    transform: rotateY(0deg) translate(0,150px);
    opacity: 0;
  }
  25% {
    transform: rotateY(360deg) translate(0,0);
    opacity: 0.5;
  }
  50% {
    transform: rotateY(0deg) translate(0,-150px);
    opacity: 0;
  }
  75% {
    transform: rotateY(360deg) translate(0,0);
    opacity: 0.5;
  }
  100% {
    transform: rotateY(0deg) translate(0,150px);
    opacity: 0;
  }
}
@keyframes z {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}