/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

.center {
    text-align: center;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */

hr {
  margin: 3rem 0;
  border-width: 0;
  border-top: 1px solid #312e2b;
}
