/* VARIABLES */

$white: #fafafa;
$red: #ff3333;
$base-gray: #000000;
$gray-E: #EEEEEE;
$gray-C: #CCCCCC;
$gray-9: #999999;
$gray-8: #888888;
$gray-5: #555555;
$gray-3: #3A4145;
$gray-2: #090a0b;
$gray-F1: #F1F1F1;
$orange: #FF9001;
$black: #000000;
