/* VARIABLES */

$white: #FFFFFF;
$main: #1A1A1A;
$base-gray: #000;
$gray-E: #EEEEEE;
$gray-C: #CCCCCC;
$gray-9: #999999;
$gray-8: #888888;
$gray-5: #555555;
$gray-3: #3A4145;
$gray-2: #090a0b;
$gray-F1: #F1F1F1;
$primary: #7c4dea;
$black: #000;
$secondary: #fad28f;
