<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="pt-br"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="pt-br"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="pt-br"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="pt-br"> <!--<![endif]-->

  <head>

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }} - {{ site.description }}</title>
    
    {% include meta.html %}
    {% include style.html %}
    {% include analytics.html %}

  </head>

  <body class="home">
    
    <div class="page-loader">
      <div class="loader">Loading...</div>
    </div>
    
    <header id="site-header" class="main-header">
        <div class="container">
            <div class="row">
                <div class="six columns logo">
                    <h1><span>Rodrigo Teixeira</span></h1>
                </div>
                <div class="six columns">
                  <ul class="menu">
                    <li><a href="mailto:hello@rodrigoteixeira.co">hello@rodrigoteixeira.co</a></li>
                  </ul>
                </div>
             </div>
         </div>
     </header>
   

    <div class="page"> <!--BEGIN PAGE -->
        
        <div class="content">

        {{ content }}

        </div>

    </div> <!--END PAGE -->
    
    {% include footer.html %}

    </body>
</html>
