<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="pt-br"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="pt-br"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="pt-br"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="pt-br"> <!--<![endif]-->

  <head>

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }} - {{ site.description }}</title>
    
    {% include meta.html %}
    {% include style.html %}
    {% include analytics.html %}

  </head>

  <body class="home">
    
    {% include header.html %}

    <div class="page"> <!--BEGIN PAGE -->
        
        <div class="content">

        {{ content }}

        </div>

    </div> <!--END PAGE -->
    
    {% include footer.html %}

    </body>
</html>
