---
layout: blog
title: page.title
---

<div class="container">

    <!-- TITLE-->

    <div class="row">
        <div class="twelve columns center">
            <div class="post-meta">
                <span class="post-date">
                    {{ page.date | date: '%-d %B, %Y'  }}
                </span>

                <span class="post-category">
                    {% for tag in site.tags %}
                    <h3>{{ tag[0] }}</h3>
                    <ul>
                        {% for post in tag[1] %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </span>

                <h1 class="light">{{page.title}}</h1>
                <p class="excerpt">{{page.excerpt}}</p>
            </div>
        </div>
    </div>

    <!-- IMAGE-->

    {% if page.image %} 

    <div class="row">
        <div class="twelve columns">
            <figure>
                <img src="{{page.image}}" alt="{{page.image-name}}">
            </figure>
            <figcaption>{{ page.image-name }}</figcaption>
        </div>
    </div>

    {% endif %} 

    <!-- ARTICLE -->

    <div class="row">
        <div class="eight columns offset-by-two">
            <section class="content">
                <article class="post">
                    <div class="post-content">
                        {{ content }}
                    </div>
                </article>
            </section>
            <section class="comments">
                {% include disqus.html disqus_identifier=page.disqus_identifier %}
            </section>
        </div>
    </div>
